{{page-title "WelcomePage"}}

<h1>This is the WelcomePage</h1>

<h2>Edit Your Profile</h2>


<button type="submit" {{on 'click' this.invalidate}} class="button" style="margin: auto; display:block;">Logout</button>
